body {
  background-color: black;
	overflow: hidden;
}

.firework {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;}
  
.firework {
  position: relative;
  top: 0px;
  left: 0px;
	margin: 0px 50px;
}
.firework:before{
  content: "";
	display: block;
	border-radius: 5px;
  background-color: skyblue;
  width: 5px;
  height: 0px;
	will-change: transform;
	transform: translateY(1000px);
	animation: fireworkstart 3s ease-out infinite;
}

.firework .explosion {
  position: absolute;
  top: 0;
  width: 5px;
  height: 20px;
  opacity: 0;
  transform-origin: top center;
	will-change: transform;
  animation: explosion 0.7s linear 3s infinite;
}
.firework .explosion:nth-child(1) {
          transform: rotate(0deg);
}
.firework .explosion:nth-child(2) {
          transform: rotate(90deg);
}
.firework .explosion:nth-child(3) {
          transform: rotate(180deg);
}
.firework .explosion:nth-child(4) {
          transform: rotate(-90deg);
}
.firework .explosion:nth-child(5) {
          transform: rotate(45deg);
}
.firework .explosion:nth-child(6) {
          transform: rotate(-45deg);
}
.firework .explosion:nth-child(7) {
          transform: rotate(135deg);
}
.firework .explosion:nth-child(8) {
          transform: rotate(225deg);
}

.firework .explosion .spark{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	will-change: transform;
}

.firework:hover { animation: explosion2 0.7s ease-in-out 3s infinite;
}


.firework .explosion .spark.red {
          background: -webkit-linear-gradient(#f44242,#f48641);
}
.firework .explosion .spark.blue {
          background: -webkit-linear-gradient(#4197f4,#8c7bd8);
}
.firework .explosion .spark.green {
          background: -webkit-linear-gradient(#a1d87b,#c6d87b);
}
.firework .explosion .spark.yellow {
          background: -webkit-linear-gradient(#ffe542,#eaf47c);
}
.firework .explosion .spark.purple {
          background: -webkit-linear-gradient(#c14ff9,#9e72e0);
}
@keyframes fireworkstart{
	0%{
		height: 0px;
		transform: translateY(1000px);
	}
	50%{
		height: 50px;
	}
	75%{
		height: 30px;
	}
	100%{
		height: 0;
		transform: translateY(0);
	}
}
	
@keyframes explosion{
	0%{
		height: 0px;
		opacity: 0;
	}
	50%{
		height: 25px;
		opacity: 1;
	}
	100%{
		height: 0px;
		opacity: 0;
	}
}
@keyframes explosion2{
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(5px);
	}
	75%{
		transform: translateY(50px);
	}
	100%{
		transform: translateY(70px);
	}
}
